<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="5D5B8B46-2A1C-4EED-B9F2-FCA6A78E17C9" Name="BindIP" Language="1033" Version="0.1" Manufacturer="kat" UpgradeCode="74103E21-51AB-4819-AC67-8D9C9AE6688C">
        <Package Description="BindIP v1" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="bindip.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="BINDIP" Name="BindIP">
                    <Component Id="BINDIP.EXE" DiskId="1" Guid="65714171-6CB1-4342-A353-91F9734D74A3">
                        <File Id="BINDIP.EXE" Name="bindip.exe" Source="bindip\bindip.exe">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="BindIP" WorkingDirectory="INSTALLDIR" Advertise="yes" IconIndex="0" Icon="DesktopIcon.exe" />
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="BindIP" IconIndex="0" Icon="StartMenuIcon.exe" Advertise="yes" />
                        </File>
                    </Component>
                    <Component Id="BINDIP32.DLL" DiskId="1" Guid="FA8447E3-F1A0-4C00-8757-C233BF281167">
                        <File Id="BINDIP32.DLL" Name="bindip32.dll" Source="bindip\bindip32.dll" />
                    </Component>
                    <Component Id="BINDIP64.DLL" DiskId="1" Guid="5F58A713-2ABA-48AA-B5D7-57B6A41AE05F">
                        <File Id="BINDIP64.DLL" Name="bindip64.dll" Source="bindip\bindip64.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="BindIP">
                <Directory Id="ProgramMenuDir">
                    <Component Id="StartMenuShortcuts" Guid="27C7C1D7-2BAB-4C72-AF1A-ABE7B29EC62F">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKMU" Key="Software\[ProductName]" Type="string" Value="" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="BINDIP.EXE" />
            <ComponentRef Id="BINDIP32.DLL" />
            <ComponentRef Id="BINDIP64.DLL" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <Icon Id="DesktopIcon.exe" SourceFile="bindip.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="bindip.ico" />
        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
    </Product>
</Wix>